body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Segoe UI', sans-serif;
}

.hero{
    height: 90vh;

    background-image:
    linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url('https://images.unsplash.com/photo-1516321318423-f06f85e504b3');

    background-size: cover;
    background-position: center;
} 

body{
    font-family: 'Segoe UI', sans-serif;
}

.navbar-brand{
    font-weight:bold;
}

footer{
    margin-top:50px;
}

.card{
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-5px);
}

.card{
    border: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card:hover{
    transform: translateY(-5px);
}

.btn-primary{
    width: 100%;
}